/*
Theme Name: Mini Retro
Theme URI: http://banu.web.id/
Author: <a href='http://banu.web.id'>@banumelody</a>
Author URI: http://banu.web.id/
Description: This is banumelody's first custom wordpress theme. Created on January 15, 2014. Please help it perfect.
Version: 1.0 beta
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: miniretro
Text Domain: miniretro

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

body {
	
}

#wrapper {
	display: block;
	border: 1px #a2a2a2 solid;
	width:90%;
	margin:0px auto;
}

#header {
	border: 2px #a2a2a2 solid;
}

#content {
	width: 75%;
	border: 2px #a2a2a2 solid;
	float: left;
}

#sidebar {
	width: 23%;
	border: 2px #a2a2a2 solid;
	float: right;
}

#delimiter {
	clear: both;
}

#footer {
	border: 2px #a2a2a2 solid;
}

.title {
	font-size: 11pt;
	font-family: verdana;
	font-weight: bold;
}